# ------------------------------------------------------------------
# CONFIG
# ------------------------------------------------------------------
BASIC_AUTH_USERNAME=
BASIC_AUTH_PASSWORD=

# ------------------------------------------------------------------
# Postgres
# ------------------------------------------------------------------
PGUSER=
PGHOST=
PGPASSWORD=
PGDATABASE=
PGPORT=
PGURI=
PGTABLE=reviews